.sping{

    position: absolute;
    top: 50%;
    left: 50%;
    width: 4rem;
    height: 4rem;
    .d-flex {
        display: flex;
      }
    }
      
      .justify-content-center {
        justify-content: center;
      }
      
      .spinner-border {
        width: 3rem;
        height: 3rem;
        margin: 20px auto;
      }
      
      .text-danger {
        color: #e50914;
      }
      
      .img-fluid {
        max-width: 100%;
        height: auto;
      }
      
      .img-thumbnail {
        padding: .25rem;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, .125);
        border-radius: .25rem;
      }
      
      h2 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
      }
      
      strong {
        font-weight: bold;
      }
      
      p {
        margin-bottom: 5px;
      }
      