<footer class="footer">
    <div class="footer-content">
      <div class="footer-links">
        <a href="#">Preguntas frecuentes</a>
        <a href="#">Centro de ayuda</a>
        <a href="#">Cuenta</a>
        <a href="#">Términos de uso</a>
        <a href="#">Privacidad</a>
      </div>
      <div class="footer-social">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
      </div>
    </div>
    <div class="footer-logo">
      <img src="https://th.bing.com/th/id/OIP.6eqQpOsrj-KM9wYaBp9aaQHaE8?pid=ImgDet&rs=1" alt="Logo Netflix">
    </div>
  </footer>
  

